<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <link rel="canonical" href="https://timebetweencalculator.com/duration">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Calculate Days Between Two Dates" />
    <meta property="og:description"
        content="Quickly calculate the exact number of days between two dates with our free date duration calculator. Easily find the difference and plan your events efficiently." />
    <meta property="og:url" content="https://timebetweencalculator.com/duration" />
    <meta property="og:site_name" content="Time Between Calculator" />
    <meta property="article:modified_time" content="2024-08-12T11:28:53+00:00" />
    <meta name="twitter:card" content="summary_large_image" />

    <title>Calculate Days Between Two Dates</title>
    <meta name="description" content="Quickly calculate the exact number of days between two dates with our free date duration calculator. Easily find the difference and plan your events efficiently.">


    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/DurationPage.css">
</head>

<body>


    <nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary " aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" alt="TBC" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav ms-auto">


                    <li class="nav-item"><a href="/days-between-dates-calculator" class="nav-link">Days Between Dates</a></li>


                </ul>

            </div>
        </div>
    </nav>


    <div class="container center mt-5">
        <h1>Calculate Time and Days Between Two Dates</h1>

        <section class="ParaWidth ">

            <p class="TopPara mt-4 text-center">
                Easily find out how many days and hours are between two dates.

            </p>

            <p class="TopPara mt-4 text-center">
                Just enter the start and end dates to see the total duration.
            </p>

        </section>

    </div>


    <!-- Calculator BOX -->
    <div class="mt-5">
        <div class="calculator">
            <div class="calculator-form">
                <div class="wrapper">
                    <div class="left">
                        <label for="start-date">Start Date</label>
                        <div class="input-wrapper">

                            <input type="date" class="InputDate" id="start-date" max="2099-12-31">

                        </div>
                    </div>
                    <div class="middle">
                        <span class="swap">
                            &nbsp;
                        </span>
                    </div>
                    <div class="right">
                        <label for="end-date">End Date</label>
                        <div class="input-wrapper">

                            <input type="date" class="InputDate" id="end-date" max="2099-12-31">


                        </div>
                    </div>
                </div>

                <div class="checkbox-group mt-3">
                    <input type="checkbox" id="include-end-date">
                    <label for="include-end-date">Include end date in calculation (1 day is added)</label>
                </div>

            </div>



            <div class="center mt-5">
                <button class="button custom" onclick="calculateDuration()">Calculate</button>
            </div>

        </div>
    </div>

    <!-- Result -->


    <div class="container mt-5 d-flex justify-content-center">
        <div class="result-box" id="ResultContainer" style="display: none;">
            <div id="message" class="message"></div>
            <div id="result">

            </div>
        </div>
    </div>

    <div>
        <div class="related-links-box">
            <h3>Related Calculators</h3>
            <ul>
                <li><a href="/">Time Difference Calculator</a></li>
            </ul>
        </div>
    </div>



    <div class="ParaWidth mt-5">
        <div>
            <h3>
                How to Calculate Time Between Two Dates Using Time Between Calculator?

            </h3>

            <p class="mt-3">
                <strong>Step 1 - Enter the Start Date:</strong> Input the starting date in the first time field.
                <br>
                <br>
                <strong>Step 2 - Enter the End Date:</strong> Input the ending date in the second time field.
                <br>
                <br>
                <strong>Step 3 - Click Calculate:</strong> Press the “Calculate” button to see the total number of days
                and hours between the two dates.
            </p>
        </div>


        <div class="mt-4">
            <h3>
                How to Calculate the Number of Days Between Two Dates?
            </h3>

            <p class="mt-3">
                Here’s a simple guide on how to calculate the number of days between two dates manually:
            </p>

            <div>
                <p><strong>Date Representation:</strong></p>
                <p><span style="font-weight: 400;">Start date: January 1, 1995</span></p>
                <p><span style="font-weight: 400;">End date: August 5, 2024</span></p>
                <p><span style="font-weight: 400;">Calculation Method:</span></p>

                <p><span style="font-weight: 400;">The calculation was performed using Python's datetime module, which
                        handles the complexities of date arithmetic, including:</span></p>

                <p><span style="font-weight: 400;">Varying days in months (28-31 days)</span></p>

                <p><strong>Leap years</strong></p>

                <p><span style="font-weight: 400;">Between 1995 and 2024, there are several leap years. Leap years in
                        this period are:</span></p>
                <p><span style="font-weight: 400;">1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024</span></p>

                <p><span style="font-weight: 400;">(Note: 2024 is included because it's a leap year, and our end date is
                        after February 29, 2024)</span></p>

                <p><strong>Total Years</strong></p>

                <p><span style="font-weight: 400;">From 1995 to 2024, we have 30 years (2024 - 1995 + 1 = 30)</span></p>

                <p><strong>Day Counting</strong></p>

                <p><span style="font-weight: 400;">Regular years have 365 days</span></p>
                <p><span style="font-weight: 400;">Leap years have 366 days</span></p>
                <p><span style="font-weight: 400;">The calculation accounts for partial years at the beginning and
                        end</span></p>

                <p><strong>Mathematical Breakdown</strong></p>

                <p><span style="font-weight: 400;">29 full years &times; 365 days = 10,585 days</span></p>
                <p><span style="font-weight: 400;">8 leap years add 8 extra days = 8 days</span></p>
                <p><span style="font-weight: 400;">Partial days in 1995 (from Jan 1 to Dec 31) = 365 days</span></p>
                <p><span style="font-weight: 400;">Partial days in 2024 (from Jan 1 to Aug 5) = 218 days (including Feb
                        29)</span></p>
                <p><span style="font-weight: 400;">Total: 10,585 + 8 + 365 + 218 = 11,176 days</span></p>

                <p><strong>Adjustment</strong></p>

                <p><span style="font-weight: 400;">We subtract 367 days because we double-counted the year 1995 and the
                        days in 2024 up to August 5.</span></p>
                <p class="demoTitle"><br /><strong>Final result: </strong><span style="font-weight: 400;">11,176 - 367 =
                        10,809 days</span></p>
                <!-- Comments are visible in the HTML source only -->
            </div>
        </div>

    </div>

    <!-- Common Links -->
    <div class="container center mt-5">

        <h2 class="mt-5">
            Time Difference Between Two Times
        </h2>

        <div id="CommonLinksContainer">
            <%- CommonLinks %>
        </div>



    </div>

    <!-- Social -->

    <div>
        <ul class="social-icons">
            <li class="icon">
                <a href="https://www.facebook.com/timebetweencalculator/">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                        style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M86,6.88c-43.62608,0 -79.12,35.49048 -79.12,79.12c0,43.62952 35.49392,79.12 79.12,79.12c43.62952,0 79.12,-35.49048 79.12,-79.12c0,-43.62952 -35.49048,-79.12 -79.12,-79.12zM110.08,55.04h-11.3176c-6.66672,0 -9.3224,1.5652 -9.3224,6.21264v10.98736h20.64l-3.44,17.2h-17.2v44.72h-20.64v-44.72h-10.32v-17.2h10.32v-9.54256c0,-14.534 5.79984,-24.85744 22.63864,-24.85744c9.01968,0 18.64136,3.44 18.64136,3.44z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="icon">
                <a href="https://in.pinterest.com/timebetweencalculator/">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                    style=" fill:#ffffff;" class="bi bi-pinterest" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0"/>
                      </svg>
                </a>
            </li>
            <li class="icon">
                <a href="https://www.instagram.com/timebetweencalculator/">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                        style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M55.04,10.32c-24.6648,0 -44.72,20.0552 -44.72,44.72v61.92c0,24.6648 20.0552,44.72 44.72,44.72h61.92c24.6648,0 44.72,-20.0552 44.72,-44.72v-61.92c0,-24.6648 -20.0552,-44.72 -44.72,-44.72zM127.28,37.84c3.784,0 6.88,3.096 6.88,6.88c0,3.784 -3.096,6.88 -6.88,6.88c-3.784,0 -6.88,-3.096 -6.88,-6.88c0,-3.784 3.096,-6.88 6.88,-6.88zM86,48.16c20.8808,0 37.84,16.9592 37.84,37.84c0,20.8808 -16.9592,37.84 -37.84,37.84c-20.8808,0 -37.84,-16.9592 -37.84,-37.84c0,-20.8808 16.9592,-37.84 37.84,-37.84zM86,55.04c-17.0624,0 -30.96,13.8976 -30.96,30.96c0,17.0624 13.8976,30.96 30.96,30.96c17.0624,0 30.96,-13.8976 30.96,-30.96c0,-17.0624 -13.8976,-30.96 -30.96,-30.96z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="icon">
                <a href="https://discord.com/channels/timebetweencalculator">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                    style=" fill:#ffffff;" class="bi bi-discord" viewBox="0 0 16 16">
                        <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"/>
                      </svg>
                </a>
            </li>
        </ul>

    </div>


    <!-- Footer -->

    <footer class="footer">
        <div class="top-line"></div>
        <div class="containerFooter">
            <div class="copyright">
                <p class="copyright-text">
                    Copyright © Time Between Calculator 2024
                </p>
            </div>
            <div class="footer-nav">
                <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="nav">
                        <li id="menu-item-103"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a
                                href="/about-us">About Us</a></li>
                        <li id="menu-item-69"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-69">
                            <a rel="privacy-policy" href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li id="menu-item-71"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a
                                href="/terms-and-conditions">Terms and Conditions</a></li>
                        <li id="menu-item-70"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a
                                href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/DurationPage.js"></script>

</body>

</html>